body {
    background: url('../images/homepageimage.jpg') no-repeat center center fixed white;
    background-size: cover;
    background-color: rgb(26, 26, 28);

}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in-h1 {
    animation-name: fadeIn;
    animation: fadeIn 3s;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-weight: bold;*/
    color: white;
}



.socialmediaposition {
    display: block;
    margin: 50 auto 0;
    width: 1.7%;
}

.socialmediaiconsize {
    display: block;
    margin: 0 auto;

    width: 1.7%
}

.bgimg-1,
.bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;

}

.bgimg-1 {
    opacity: 1;
    background-image: url("../images/image1.jpg");
    height: 900px;
}

.bgimg-2 {
    background-color: darkslategray;
    background-image: url("../images/bgimg2.webp");
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px;

}

.bgimg-3 {
    background-color: yellowgreen;
    background-image: url("../images/tempimage.webp");
    opacity: 1;
    height: 1000px;
}

.smallspace {
    height: 650px;
}

.bigspace {
    height: 2000px;
}